<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OnlyCats</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" type="image/x-icon" href="cat3.png">
</head>
<body class="light-mode">
  <header>
    <h1>Most viewed kitties :3</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/search">Search</a>
      <a href="/upload">Upload</a>
      <a href="/gallery" class="active">Bestest kitties</a>
      <button id="theme-toggle">FLASHBANG</button>
    </nav>
  </header>
  
  <main>
    <section class="top-pics">
      <div class="pics-grid" id="top-pics">
        <!-- Filled by JavaScript -->
      </div>
    </section>
  </main>
  
  <footer>
    <p> WOOOOOOOO Only cats on top</p>
  </footer>
  
  <script src="js/gallery.js"></script>
</body>
</html>
